.column1 {
    float: left;
    width: 30%;
  }

  .column {
    float: left;
    width: 70%;
  }

  .row {
    display: flex;
  }

  .button {
   
   
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }


.button4 {
    background-color: aliceblue;
    border-radius: 12px;
    border-style: 2px solid;
    border-color: cornflowerblue;
    width: 230px;
}

.clicked-button {
    background-color: rgb(12, 82, 144);
    border-radius: 12px;
    border-style: 2px solid;
    border-color: cornflowerblue;
    width: 230px;
}