<div class="card">
    <div class="container">
      <h4 style="display: flex; justify-content: center; padding-top:10px ;"><b>{{spaceName}}</b></h4> 
      <p style="padding-left: 5%; padding-top:10px ;">{{description}}</p> 
      <div style="display: flex; justify-content: space-between; padding-top:20px ;"><p style="padding-left: 5%;">{{country}}</p> <p>{{movies}} Movies</p> <p>{{subscribers}} Subscribers</p></div>
      <div style="display: flex; justify-content: flex-end; padding-bottom: 10px;"><button class="button button4">Subscribe</button></div>  
    </div>
  </div>