<div style="margin-left: 35%;">
    <button class="button button4" style=" padding-left: 40px; padding-right: 40px;" (click)="handbasic()" *ngIf="!isAuthenticated()">Sign In</button>
    <button class="button button4" style="margin-left: 5%; padding-left: 40px; padding-right: 40px;" (click)="listbasic()">Sign Up</button>
</div>
<!-- <div style="margin-left: 50%;"><button class="button button4" (click)="listbasic()">List</button></div>
<div style="margin-left: 50%;"><button class="button button4" (click)="listSpaces()">List Spaces</button></div> -->