.button {
    background-color:  cornflowerblue;
    border: 2px solid white;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

.button4 {border-radius: 12px;
}

.auth-user {
  color: white;
  margin-left: 60%;
}