<nav class="navbar navbar-default" style="background-color: cornflowerblue;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        
        <a
          class="navbar-brand"
          href="frontpage"
          style="color: white;"
          >Mratings</a
        >
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
    
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>