/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-label {
    min-width: 50% !important;
    padding: 5px;
    color: #114168;
    font-weight: 700;
    font-size: 30px;
}

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    color: #114168;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 10px;
}